
/*-------- Hello --------*/

* {
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243); 
}

h1,
h2,
h3,
ul {
    text-align: center;
}

body {
    
}

/*-------- Header --------*/


header {
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 0;
}

nav ul {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li a {
    display: block;
    font-weight: bold;
}

li {
    padding: 10px 0 10px 0;
}

/*-------- Links --------*/

a {
    text-decoration: none;
}

a:visited {
    color: none;
}

.profile-image {
    max-width: 320px;
}

/*-------- Main Content --------*/

.main {
    max-width: 100%;
    text-align: center;
    background-color: white;
}







/*-------- Footer --------*/









/*-------- Media Queries --------*/