
/*-------- Hello --------*/

* {
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgb(243, 243, 243);
    text-align: center;
}

h1,
h2,
h3,
ul {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    font-weight: bold;
}

li {
    padding: 10px 0 10px 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: none;
}

.main-content {
    max-width: 100%;
    text-align: center;
}

.profile-image {
    max-width: 100%;
}













/*-------- Media Queries --------*/