
/*-------- Hello --------*/

* {
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header,
main {
    text-align: center;
}

body {
    background-color: rgb(249, 249, 249); 
}

p {
    font-size: 1em;
}

/*-------- Header --------*/


header {
    padding: 0;
}

header h1 {
    font-size: 1.5em;
    margin-top: 22px;
    margin-bottom: 12px; 
}

header p {
    color: grey;
    font-size: 14.6px;
    padding: 10px 10px 10px 10px;
    line-height: 1.65;
    margin-bottom: 28px;
}

nav ul {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    line-height: 1.29;
}

li a {
    display: block;
    font-weight: bold;
    font-size: 13.5px;
    padding: 11px 0 11px 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-image {
    max-width: 63%;
    margin-top: 33px;
}

/*-------- Main Content --------*/


main {
    max-width: 100%;
    text-align: center;
    background-color: white;
    /* padding-top: 60px;
    margin-top: 30px; */
}

.portfolio {
    font-size: 1em;
    background-color: white;
    padding-top: 43px;
    padding-bottom: 32px;
}

.content-image {
    max-width: 90%;
}

.contact {
    background-color: rgb(249, 249, 249);
}

/*-------- Links --------*/

a {
    text-decoration: none;
    color: black;
}

a:link {
    background-color: white;
}


/*-------- Footer --------*/









/*-------- Media Queries --------*/