
/*-------- Hello --------*/

* {
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header,
main {
    text-align: center;
}

body {
    background-color: rgb(249, 249, 249); 
}

p {
    font-size: 1em;
}

/*-------- Header --------*/


header {
    padding: 0;
}

header h1 {
    font-size: 1.5em;
    margin-top: 22px;
    margin-bottom: 12px; 
}

header p {
    color: grey;
    font-size: 14.6px;
    padding: 10px 10px 10px 10px;
    line-height: 1.65;
    margin-bottom: 28px;
}

nav ul {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    line-height: 1.29;
}

li a {
    display: block;
    font-weight: bold;
    font-size: 13.5px;
    padding: 11px 0 11px 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-image {
    max-width: 63%;
    margin-top: 33px;
}

/*-------- Main Content --------*/


main {
    max-width: 100%;
    text-align: center;
    background-color: white;
}

h2 {
    color: rgb(66, 65, 65);
    font-size: 17px;
    margin-top: 28px;
    margin-bottom: 15px;
}

main p {
    font-size: 13.9px;
    line-height: 1.65;
    margin-bottom: 30px;
    margin-left: 22px;
    margin-right: 22px;
}

.portfolio {
    font-size: 13.5px;
    background-color: white;
    padding-top: 43px;
    padding-bottom: 32px;
}

.content-image {
    max-width: 90%;
}

.calculator {
    padding: 12px 12px 12px 14px;
    margin-bottom: 20px;
}

.calculator-image {
    max-width: 100%; 
}

/*-------- Contact --------*/

.contact {
    background-color: rgb(249, 249, 249);
    padding-top: 40px;
}

#contact-info {
    font-weight: bold;
    margin-left: 5px;
}

.contact h3 {
    font-size: 13.3px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact p {
    color: grey;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: 0;
}

.details {
    font-size: 2em;
    background-color: rgb(249, 249, 249);
    padding-top: 10px;
    margin-bottom: 45px;
}

.details p {
    font-size: 15px;
    color: grey;
    margin: 0;
    padding-bottom: 15px;
}

span {
    display: inline-block;
    padding-left: 3px;
}

/*-------- Links --------*/

a {
    text-decoration: none;
    color: black;
}

a:link {
    background-color: white;
}

#top {
    background-color: rgb(249, 249, 249);
}

/*-------- Footer --------*/

#border-top {
    border-top: 1px rgb(226, 223, 223) solid;
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 13px;
}

footer {
    min-height: 60px;
    margin-bottom: 10px; 
}

.name {
    font-weight: bold;
    float: left;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
}

footer nav {
    background-color: rgb(249, 249, 249);
}

footer a {
    font-weight: bold;
    float: right;
    font-size: 11px;
    margin-top: 15px;
    margin-right: 15px;
}


/*-------- Media Queries --------*/

@media (min-width: 768px) {                           
    
    header h1 {
        margin-top: 50px;
    }

    nav li {
        list-style: none;
        display: inline-block;
    }
    
    nav a {
        background-color: rgb(249, 249, 249);
        padding: 10px 12px 10px 12px;
    }

    .header-image {
        float: right;
        width: 50%;
    }

    .header-text {
        float: left;
        width: 50%;
    }

}


/*-------- Clearfix --------*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

